.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}
.headings{
    font-size: 2.5rem;
}
#pic{
    flex-direction: column;
     align-items:center;
}
#pic img{
    width:475px;
    height:500px;
}
#intro h2{
    text-align: center;
    padding:10px;
}
.input{
    width:60%;
}
#msg{
    width:50%;
}
#send{
    width:20%;
}
.edu{
    flex-direction: column;
}
.myskill{
    flex-direction: column;

}
h4{
    margin-left: 100px;
}
#myskill{
    margin-left: 100px;
}